 {% extends 'base.html.twig' %}
    {% block body %}
        <h1>Bienvenue dans mon blog</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus blanditiis dolores laudantium esse impedit illo quas at iste tenetur ut sint et, quo natus libero ducimus quam commodi corrupti cumque vero incidunt consectetur quaerat quidem recusandae! Adipisci repudiandae ipsum odio?</p>
        <p>Laboriosam laudantium non aliquam earum adipisci! Aperiam et incidunt nihil voluptatum optio ipsa, rem soluta vel ducimus quibusdam distinctio ipsam enim earum dolores eveniet saepe praesentium consequatur, pariatur omnis atque deleniti aspernatur qui alias dolorum. Temporibus enim ratione cupiditate atque?</p>
    {% endblock %}